:root {
    --darkneon: #65c2f1;
    --lightneon: #65c2f159;
    --bdrcolor: #fff;
    --bgcolor: #4e4c4c;
}

body {
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    padding: 1em;
    background-color: var(--bgcolor);
}

header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: white;
}

header h1 {
    color: var(--darkneon);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}

section {
    flex: 1 1 27em;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    color: var(--darkneon);
    border: 0.2em dashed var(--bdrcolor);
}

section:hover, section:hover > h2 {
    box-shadow: 0 0 0.5em 0.3em var(--darkneon);
    transition: all ease-in-out 0.5s;
}

section > * {
    max-width: 80%;
    position: relative;
    top: -2em;
    left: 0.5em;
}

section h2 {
    z-index: 0;
    border: 0.1em solid var(--bdrcolor);
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: var(--bgcolor);
}

section pre {
    font-size: 1.2em;
    padding: 0.5em;
    background: repeating-linear-gradient(var(--darkneon), var(--lightneon));
    border-radius: 0.5em;
    color: white;
    user-select: all;
    white-space: pre-wrap;
}

section pre code::selection {
    background-color:cornflowerblue;
}

footer {
    display: flex;
    justify-content: center;
    color: var(--darkneon);
}

@media screen and (width <= 1458px ) {
    section {
        flex-basis: 22em;
    }
}

@media screen and (width <= 1218px) {
    section {
        flex-basis: 18em;
    }
}

@media screen and (width <= 1026px) {
    section {
        flex-basis: 14em;
    }
}

@media screen and (width <= 768px) {
    section {
        flex-basis: 22em;
    }
}